[includeIf "gitdir:~/Developer/github.com/"]
	path = ~/Developer/github.com/.gitconfig

[includeIf "gitdir:~/Developer/gitlab.com/"]
	path = ~/Developer/gitlab.com/.gitconfig

[includeIf "gitdir:~/Developer/bitbucket.org/"]
	path = ~/Developer/bitbucket.org/.gitconfig
