#!/bin/bash

# export ENABLE_INSTALL_CLI=true
# export ENABLE_INSTALL_COREUTILS=true
# export ENABLE_INSTALL_ACK=true
# export ENABLE_INSTALL_ASCIINEMA=true
# export ENABLE_INSTALL_BREWGEM=true
# export ENABLE_INSTALL_COWSAY=true
# export ENABLE_INSTALL_CURL=true
# export ENABLE_INSTALL_FORTUNE=true
# export ENABLE_INSTALL_FZF=true
# export ENABLE_INSTALL_GNUPG=true
# export ENABLE_INSTALL_GPGSUITE=true
# export ENABLE_INSTALL_GREP=true
# export ENABLE_INSTALL_HTTPIE=true
# export ENABLE_INSTALL_HTOP=true
# export ENABLE_INSTALL_IPROUTE=true
# export ENABLE_INSTALL_ITERM=true
# export ENABLE_INSTALL_JQ=true
# export ENABLE_INSTALL_JSONPP=true
# export ENABLE_INSTALL_LESS=true
# export ENABLE_INSTALL_LOLCAT=true
# export ENABLE_INSTALL_PRETTYPING=true
# export ENABLE_INSTALL_PROGRESS=true
# export ENABLE_INSTALL_PIPEVIEWER=true
# export ENABLE_INSTALL_RENAME=true
# export ENABLE_INSTALL_SCREEN=true
# export ENABLE_INSTALL_SOPS=true
# export ENABLE_INSTALL_SPEEDTESTCLI=true
# export ENABLE_INSTALL_TELNET=true
# export ENABLE_INSTALL_THESILVERSEARCHER=true
# export ENABLE_INSTALL_TRIVY=true
# export ENABLE_INSTALL_ULTIMATEPLUMBER=true
# export ENABLE_INSTALL_WATCH=true
# export ENABLE_INSTALL_WGET=true
# export ENABLE_INSTALL_XH=true

# export ENABLE_INSTALL_GIT=true
# export ENABLE_INSTALL_GIT_LATEST=true
# export ENABLE_INSTALL_GITLFS=true
# export ENABLE_INSTALL_GITSIZER=true
# export ENABLE_INSTALL_GITHUB=true
# export ENABLE_INSTALL_GITLAB=true
# export ENABLE_INSTALL_BFG=true

# export ENABLE_INSTALL_SVN=true
# export ENABLE_INSTALL_SVN_LATEST=true

# export ENABLE_INSTALL_SHELL=true
# export ENABLE_INSTALL_DIRENV=true
# export ENABLE_INSTALL_NEOFETCH=true
# export ENABLE_INSTALL_OHMYZSH=true
# export ENABLE_INSTALL_STARSHIP=true
# export ENABLE_INSTALL_TMUX=true
# export ENABLE_INSTALL_OPENSSH=true
# export ENABLE_INSTALL_COLORLS=true
# export ENABLE_INSTALL_DIRCOLORS=true
# export ENABLE_INSTALL_FIGLET=true
# export ENABLE_INSTALL_MKLICENSE=true

# export ENABLE_INSTALL_VIM=true
# export ENABLE_INSTALL_VIM_LATEST=true
# export ENABLE_INSTALL_VIMPLUG=true

# export ENABLE_INSTALL_CLOUD=true
# export ENABLE_INSTALL_TERRAFORM=true
# export ENABLE_INSTALL_ANSIBLE=true
# export ENABLE_INSTALL_OPENSTACK=true
# export ENABLE_INSTALL_AWS=true
# export ENABLE_INSTALL_GCP=true
# export ENABLE_INSTALL_AZURE=true
# export ENABLE_INSTALL_HETZNER=true

# export ENABLE_INSTALL_CONTAINER=true
# export ENABLE_INSTALL_COLIMA=true
# export ENABLE_INSTALL_PODMAN=true

# export ENABLE_INSTALL_KUBERNETES=true
# export ENABLE_INSTALL_GO=true
# export ENABLE_INSTALL_KIND=true
# export ENABLE_INSTALL_KUBECTL=true
# export ENABLE_INSTALL_CLUSTERCTL=true
# export ENABLE_INSTALL_KUBECTX=true
# export ENABLE_INSTALL_KUBELOGIN=true
# export ENABLE_INSTALL_KUBEONE=true
# export ENABLE_INSTALL_FLUX=true
# export ENABLE_INSTALL_KUBESEAL=true
# export ENABLE_INSTALL_HELM=true
# export ENABLE_INSTALL_YAMLHIGHLIGHTER=true
# export ENABLE_INSTALL_MINIKUBE=true
# export ENABLE_INSTALL_LENS=true
# export ENABLE_INSTALL_KNINES=true
# export ENABLE_INSTALL_POPEYE=true

# export ENABLE_INSTALL_PHP=true
# export ENABLE_INSTALL_PHP_LATEST=true
# export ENABLE_INSTALL_PHP_SEVEN=true
# export ENABLE_INSTALL_PHP_COMPOSER=true
# export ENABLE_INSTALL_PHP_IMAGEMAGICK=true
# export ENABLE_INSTALL_PHP_MEMCACHED=true
# export ENABLE_INSTALL_PHP_XDEBUG=true
# export ENABLE_INSTALL_PHP_REDIS=true
# export ENABLE_INSTALL_PHP_LARAVEL=true
# export ENABLE_INSTALL_PHP_ENVOY=true
# export ENABLE_INSTALL_PHP_EXPOSE=true

# export ENABLE_INSTALL_NODE=true
# export ENABLE_INSTALL_NODE_LATEST=true
# export ENABLE_INSTALL_NODE_TEN=true
# export ENABLE_INSTALL_YARN=true

# export ENABLE_INSTALL_VIRTUALISATION=true
# export ENABLE_INSTALL_UTM=true
# export ENABLE_INSTALL_VIRTUALBOX=true
# export ENABLE_INSTALL_VIRTUALBOXEXT=true
# export ENABLE_INSTALL_VAGRANT=true

# export ENABLE_INSTALL_GUI=true
# export ENABLE_INSTALL_ALFRED=true
# export ENABLE_INSTALL_BARTENDER=true
# export ENABLE_INSTALL_BITWARDEN=true
# export ENABLE_INSTALL_CHEATSHEET=true
# export ENABLE_INSTALL_EVERNOTE=true
# export ENABLE_INSTALL_HOT=true
# export ENABLE_INSTALL_INSOMNIA=true
# export ENABLE_INSTALL_MAESTRAL=true
# export ENABLE_INSTALL_NFOV=true
# export ENABLE_INSTALL_RECTANGLE=true
# export ENABLE_INSTALL_UBERSICHT=true
# export ENABLE_INSTALL_VERACRYPT=true
# export ENABLE_INSTALL_VISCOSITY=true

# export ENABLE_INSTALL_DATABASE=true
# export ENABLE_INSTALL_MYCLI=true
# export ENABLE_INSTALL_SEQUELPRO=true
# export ENABLE_INSTALL_SQLITE=true
# export ENABLE_INSTALL_TABLEPLUS=true

# export ENABLE_INSTALL_MEDIA=true
# export ENABLE_INSTALL_MPV=true
# export ENABLE_INSTALL_NOMORESECRETS=true
# export ENABLE_INSTALL_SPOTIFY=true
# export ENABLE_INSTALL_VLC=true
# export ENABLE_INSTALL_YOUTUBEDL=true

# export ENABLE_INSTALL_BROWSER=true
# export ENABLE_INSTALL_FIREFOX=true
# export ENABLE_INSTALL_CHROME=true

# export ENABLE_INSTALL_MESSENGER=true
# export ENABLE_INSTALL_MICROSOFTTEAMS=true
# export ENABLE_INSTALL_SKYPE=true
# export ENABLE_INSTALL_SLACK=true
# export ENABLE_INSTALL_ZOOM=true

# export ENABLE_INSTALL_EDITOR=true
# export ENABLE_INSTALL_MACDOWN=true
# export ENABLE_INSTALL_PHPSTORM=true
# export ENABLE_INSTALL_TEXSTUDIO=true
# export ENABLE_INSTALL_VSCODE=true

# export ENABLE_INSTALL_MAS=true
# export ENABLE_INSTALL_DROPOVER=true
# export ENABLE_INSTALL_UNARCHIVER=true
# export ENABLE_INSTALL_TRELLO=true
# export ENABLE_INSTALL_WIREGUARD=true
# export ENABLE_INSTALL_XCODE=true

# export ENABLE_INSTALL_QUICKLOOk=true
# export ENABLE_INSTALL_SUSPICIOUSPACKAGE=true
# export ENABLE_INSTALL_WEBPQUICKLOOK=true
# export ENABLE_INSTALL_QLCOLORCODE=true
# export ENABLE_INSTALL_QLMARKDOWN=true
# export ENABLE_INSTALL_QLPRETTYPATCH=true
# export ENABLE_INSTALL_QLSTEPHEN=true
# export ENABLE_INSTALL_QUICKNFO=true
# export ENABLE_INSTALL_QUICKLOOKCSV=true
# export ENABLE_INSTALL_QUICKLOOKJSON=true

# export ENABLE_INSTALL_FONT=true
# export ENABLE_INSTALL_FONT_FIRA=true
# export ENABLE_INSTALL_FONT_HACK=true
# export ENABLE_INSTALL_FONT_INCONSOLALTA=true
# export ENABLE_INSTALL_FONT_ROBOTO=true
# export ENABLE_INSTALL_FONT_SOURCECODEPRO=true
# export ENABLE_INSTALL_FONT_VICTORMONO=true

# export ENABLE_INSTALL_MACKUP=true
