export MyComputerName="MY MAC"
export MyHostName="my-mac"
export MyLocalHostName="my-mac"
export MyNetBIOSName="my-mac"

export CUSTOM_SCREENCAPTURE_LOCATION="${HOME}/Pictures/Screenshots"
export FINDER_NewWindowTarget="PfLo" # PfCm:Computer, PfVo:Volume, PfHm:Home, PfDe:Desktop, PfDo:Documents, PfAF:Recents, PfID:iCloud Drive, PfLo:Other
export FINDER_NewWindowTargetPath="${HOME}/Developer" # only used if FINDER_NewWindowTarget is set to PfLo
export FINDER_ShowHardDrivesOnDesktop=true
export FINDER_ShowExternalHardDrivesOnDesktop=true
export FINDER_ShowRemovableMediaOnDesktop=true
export FINDER_ShowMountedServersOnDesktop=true
export FINDER_FXDefaultSearchScope="SCcf" # SCev:This Mac, SCcf:current folder, SCsp:previous search scope
export FINDER_FXPreferredViewStyle="Nlsv" # icnv:Icon, glyv:Gallery, Nlsv:List, clmv:Column
export DOCK_tilesize=32
export DOCK_largesize=48

export DISABLE_STARTUP_SOUND=false
export ENABLE_SMALL_SIDEBARICONS=false
export ENABLE_INCREASED_RESIZE_SPEED=false
export ENABLE_EXPANDED_SAVEDIALOG=false
export DISABLE_DEFAULT_SAVETO_ICLOUD=false
export ENABLE_EXPANDED_PRINTDIALOG=false
export DISABLE_SMARTQUOTES=false
export DISABLE_SMARTDASHES=false
export ENABLE_TAPTCLICK=false
export ENABLE_FAST_KEYBOARD_REPEAT=false
export ENABLE_REQUIRE_PASSWORD_IMMEDIATELY=false
export ENABLE_CUSTOM_SCREENCAPTURE_LOCATION=false
export DISABLE_SCREENCAPTURE_SHADOW=false
export ENABLE_FINDER_NEW_WINDOW_TARGET=false
export ENABLE_FINDER_MOUNT_DESKTOP_ICONS=false
export ENABLE_FINDER_NEW_WINDOW_REMOVEABLE_MEDIA=false
export ENABLE_FINDER_SHOW_PATHBAR=false
export ENABLE_FINDER_SHOW_PATH_IN_TITLE=false
export ENABLE_FINDER_SHOW_ALL_EXTENSIONS=false
export DISABLE_FINDER_WARNING_EXTENSION_CHANGE=false
export ENABLE_FINDER_QL_PANE=false
export ENABLE_FINDER_SEARCH_SCOPE=false
export DISABLE_DS_Store_ON_MOUNTS=false
export DISABLE_DISK_IMAGE_VERIFICATION=false
export ENABLE_FINDER_VIEW_STYLE=false
export ENABLE_FINDER_LIBRARY_FOLDER=false
export ENABLE_FINDER_USERS_FOLDER=false
export DISABLE_ASK_FOR_TIMEMACHINE=false
export ENABLE_DOCK_NO_BOUNCING=false
export ENABLE_DOCK_LARGESIZE=false
export ENABLE_DOCK_MAGNIFICATION=false
export ENABLE_DOCK_HIDE_RECENTS=false
export DISABLE_DOCK_REARRANGE_SPACES=false
export ENABLE_DOCK_HIDDEN_TRANSLUCENT=false
export ENABLE_ACTIVITY_MONITOR_OPENMAINWINDOW=false
export ENABLE_ACTIVITY_MONITOR_DOCKICON_CPU=false
export ENABLE_ACTIVITY_MONITOR_ALLPROCESSES=false
export ENABLE_ACTIVITY_MONITOR_SORTING=false
export ENABLE_TEXTEDIT_PLAINTEXT=false
export ENABLE_TEXTEDIT_PLAINTEXT_ENCODING=false
export ENABLE_SAFARI_FULL_URL=false
export ENABLE_SAFARI_FAVORITES_BAR=false
export ENABLE_SAFARI_DEBUG_MENU=false
export ENABLE_SAFARI_DEVELOPER_MENU=false